body {
    background-color: #000000;
    padding: 20px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

ul.navigation li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.navigation li a {
    font-weight: bold;
    text-decoration: none;
    color: #FFCC00;
    padding: 20px;
    display: inline-block;
}

.title {
    color: #FFF;
}

.content {
    color: #FFF;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}
